extends layout

block content
  H2=name
  p="satlatitude= " + val[0].satlatitude
  p="satlongitude= " + val[0].satlongitude
  p="sataltitude= " + val[0].sataltitude
  p="azimuth= " + val[0].azimuth
  p="elevation= " + val[0].elevation

